<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<packages>
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="4.0.1" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Selenium.Support" version="4.2.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.2.0" targetFramework="net48" />
</packages>